@import url("https://fonts.googleapis.com/css?familt=poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #222;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 8px 8px;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

.item {
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opposite {
  background: whitesmoke;
}

/* button hover effect using CSS clip path property */

#hover-clip-path {
  position: relative;
  width: 180px;
  height: 60px;
}

#hover-clip-path span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #4834d4;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
}

#hover-clip-path span:nth-child(2) {
  background-color: white;
  color: #4834d4;
  transition: 0.5s;
  clip-path: polygon(61% 0, 100% 0%, 100% 100%, 60% 100%, 40% 52%);
}

#hover-clip-path span:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 53%);
}

#hover-clip-path span:nth-child(1):hover ~ span {
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 50%);
}

/* menu split effect using CSS clip path property */

#split-clip-path {
  margin: 0;
  padding: 0;
}

#split-clip-path > li {
  position: relative;
  list-style: none;
  margin: 10px 0px;
  overflow: hidden;
}

#split-clip-path a {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: transparent;
}

#split-clip-path a:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #262626;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.25s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

#split-clip-path a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #262626;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.25s;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}

#split-clip-path a:hover:before {
  color: rgb(160, 0, 0);
  transform: translate(10px, -3px);
}

#split-clip-path a:hover:after {
  color: rgb(160, 0, 0);
  transform: translate(-10px, 3px);
}

#split-clip-path li:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #262626;
  left: -100%;
  transition: 0.5s;
}

#split-clip-path li:hover:before {
  left: 100%;
}

/* image hover effect using CSS clip path property */

#image-clip-path {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: black;
}

#image-clip-path > .content {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

#image-clip-path h2 {
  margin-bottom: 20px;
  text-transform: capitalize;
}

#image-clip-path a {
  display: inline-block;
  padding: 10px 10px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  text-transform: capitalize;
}

#image-clip-path a:hover {
  color: black;
  background-color: white;
}

#image-clip-path img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s ease-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#image-clip-path img:hover {
  clip-path: polygon(100% 100%, 100% 0, 100% 100%, 0% 100%);
}

/* image circle hover effect using CSS clip path property */

#image-circle-clip-path {
  position: relative;
  width: 100%;
  min-width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#image-circle-clip-path .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  clip-path: circle(70.7% at 50% 50%);
}

#image-circle-clip-path img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

#image-circle-clip-path:hover .img {
  clip-path: circle(18.2% at 50% 38%);
}

#image-circle-clip-path .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#image-circle-clip-path a {
  margin-bottom: 2rem;
  display: inline-block;
  padding: 10px 10px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  text-transform: capitalize;
}

#image-circle-clip-path a {
  opacity: 0;
  transition: 0.3s;
}

#image-circle-clip-path:hover a {
  opacity: 1;
  transition-delay: 0.5s;
}

#image-circle-clip-path a:hover {
  color: black;
  background-color: white;
}
