@import url("https://fonts.googleapis.com/css?familt=poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #222;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 8px 8px;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

.item {
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opposite {
  background: whitesmoke;
}

/* button hover effect using CSS clip path property */

#hover-clip-path {
  position: relative;
  width: 180px;
  height: 60px;
}

#hover-clip-path span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #4834d4;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
}

#hover-clip-path span:nth-child(2) {
  background-color: white;
  color: #4834d4;
  transition: 0.5s;
  clip-path: polygon(61% 0, 100% 0%, 100% 100%, 60% 100%, 40% 52%);
}

#hover-clip-path span:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 53%);
}

#hover-clip-path span:nth-child(1):hover ~ span {
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 50%);
}

/* menu split effect using CSS clip path property */

#split-clip-path {
  margin: 0;
  padding: 0;
}

#split-clip-path > li {
  position: relative;
  list-style: none;
  margin: 10px 0px;
  overflow: hidden;
}

#split-clip-path a {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: transparent;
}

#split-clip-path a:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #262626;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.25s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

#split-clip-path a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #262626;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.25s;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}

#split-clip-path a:hover:before {
  color: rgb(160, 0, 0);
  transform: translate(10px, -3px);
}

#split-clip-path a:hover:after {
  color: rgb(160, 0, 0);
  transform: translate(-10px, 3px);
}

#split-clip-path li:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #262626;
  left: -100%;
  transition: 0.5s;
}

#split-clip-path li:hover:before {
  left: 100%;
}

/* image hover effect using CSS clip path property */

#image-clip-path {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: black;
}

#image-clip-path > .content {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

#image-clip-path h2 {
  margin-bottom: 20px;
  text-transform: capitalize;
}

#image-clip-path a {
  display: inline-block;
  padding: 10px 10px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  text-transform: capitalize;
}

#image-clip-path a:hover {
  color: black;
  background-color: white;
}

#image-clip-path img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s ease-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#image-clip-path img:hover {
  clip-path: polygon(100% 100%, 100% 0, 100% 100%, 0% 100%);
}

/* image circle hover effect using CSS clip path property */

#image-circle-clip-path {
  position: relative;
  width: 100%;
  min-width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#image-circle-clip-path .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  clip-path: circle(70.7% at 50% 50%);
}

#image-circle-clip-path img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

#image-circle-clip-path:hover .img {
  clip-path: circle(18.2% at 50% 38%);
}

#image-circle-clip-path .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#image-circle-clip-path a {
  margin-bottom: 2rem;
  display: inline-block;
  padding: 10px 10px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  text-transform: capitalize;
}

#image-circle-clip-path a {
  opacity: 0;
  transition: 0.3s;
}

#image-circle-clip-path:hover a {
  opacity: 1;
  transition-delay: 0.5s;
}

#image-circle-clip-path a:hover {
  color: black;
  background-color: white;
}

/* black and white text hover effect using CSS clip path property */

.black-white-slayer {
  background-color: #c8d6e5;
}

#black-white-clip-path {
  position: relative;
  width: 200px;
}

#black-white-clip-path h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #c8d6e5;
}

#black-white-clip-path h5:nth-child(2) {
  color: white;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
}

#black-white-clip-path h5:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#black-white-clip-path h5:nth-child(1):hover ~ h5 {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

/* CSS popup effect using CSS clip path property */

#popup-clip-path {
  width: 300px;
  height: 200px;
  background-color: #c7ecee;
  padding: 1rem;
  transition: all 0.5s;
  clip-path: circle(7% at 93% 20%);
}

#popup-clip-path h1 {
  margin-bottom: 20px;
}

#popup-clip-path p {
  font-size: 18px;
}

#popup-clip-path:hover {
  clip-path: circle(70%);
}

/* images hover effect using CSS clip path property */

#images-hover-clip-path {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #222;
}

#images-hover-clip-path .clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

#images-hover-clip-path .clip1 {
  background: url(./assets/image-hover-clip-path.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 17% 0, 49% 100%, 0% 100%);
}

#images-hover-clip-path .clip2 {
  background: url(./assets//image-circle-hover-clip-path.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(13% 0, 81% 0, 59% 100%, 36% 100%);
}

#images-hover-clip-path .clip3 {
  background: url(./assets/images-hover-clip-path.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(79% 0, 100% 0, 100% 100%, 59% 100%);
}

#images-hover-clip-path:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

#images-hover-clip-path .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* wavy effect using CSS clip path property */

.wavy {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wave {
  position: relative;
}

#wave h2 {
  position: absolute;
  font-size: 2rem;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#wave h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

#wave h2:nth-child(2) {
  color: #03a9f4;
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0% {
    clip-path: polygon(
      0% 38%,
      21% 40%,
      38% 51%,
      54% 57%,
      75% 57%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 49%,
      16% 56%,
      33% 55%,
      55% 50%,
      75% 42%,
      100% 40%,
      100% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      0% 38%,
      21% 40%,
      38% 51%,
      54% 57%,
      75% 57%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
}

/* split loading effect using CSS clip path property */

#loading-clip-path {
  width: 300px;
  height: 60px;
  border: 7px solid #0a3d62;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  position: relative;
  overflow: hidden;
}

#loading-clip-path span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
}

#loading-clip-path .top-half {
  color: #ee5253;
  animation: split 4s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

#loading-clip-path .bottom-half {
  color: #0a3d62;
  animation: split 4s linear infinite reverse;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

@keyframes split {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* background boxes growing animation using CSS animations */

#background-boxes {
  position: relative;
  height: 200px;
  width: 300px;
  overflow: hidden;
}

#background-boxes .box {
  position: absolute;
  top: 80%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 1px solid #003298;
  animation: boxes 12s ease-in infinite;
  transform: scale(0);
}

#background-boxes .box:nth-child(2) {
  top: 40%;
  left: 25%;
  border-color: red;
  animation-delay: 2s;
}

#background-boxes .box:nth-child(3) {
  top: 50%;
  left: 75%;
  animation-delay: 4s;
}

#background-boxes .box:nth-child(4) {
  top: 10%;
  left: 90%;
  border-color: red;
  animation-delay: 6s;
}

#background-boxes .box:nth-child(5) {
  top: 85%;
  left: 10%;
  animation-delay: 8s;
}

#background-boxes .box:nth-child(6) {
  top: 10%;
  left: 50%;
  border-color: red;
  animation-delay: 10s;
}

@keyframes boxes {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(20) rotate(960deg);
    opacity: 0;
  }
}

/* expading line menu effect using CSS animations */

#expanding-line-menu {
  margin: 0;
  padding: 0;
  display: flex;
  width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

#expanding-line-menu li {
  list-style: none;
}

#expanding-line-menu a {
  position: relative;
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  color: #333;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}

#expanding-line-menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  left: -100%;
  background-color: #d63031;
  transition: 0.5s;
}

#expanding-line-menu a:hover:before {
  animation: line 0.5s linear forwards;
}

@keyframes line {
  0% {
    left: -100%;
    height: 4px;
  }
  50% {
    left: 0;
    height: 4px;
  }
  100% {
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

#expanding-line-menu a:hover {
  color: white;
}

/* hexagon loader animation */

#hexagon-loader {
  width: 300px;
  border-bottom: 4px solid white;
  position: relative;
  animation: animateline 2s linear infinite;
}

#hexagon-loader .hexagon {
  position: absolute;
  left: 0;
  bottom: 14px;
  width: 50px;
  height: 30px;
  background-color: white;
  animation: animatehexagon 2s linear infinite;
}

#hexagon-loader .hexagon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: rotate(60deg);
}

#hexagon-loader .hexagon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: rotate(-60deg);
}

@keyframes animatehexagon {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 50px);
    transform: rotate(720deg);
  }
  100% {
    left: 0;
  }
}

@keyframes animateline {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

/* squares background animation */

#squares-background {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

#squares-background .square {
  position: absolute;
  bottom: -100px;
  background-color: #f2f2f2;
  animation: squares-background-boxes 10s infinite ease-in-out;
}

#squares-background .square:nth-child(1) {
  width: 75px;
  height: 75px;
  left: 7%;
}

#squares-background .square:nth-child(2) {
  width: 65px;
  height: 65px;
  left: 15%;
  animation-delay: 4s;
}

#squares-background .square:nth-child(3) {
  width: 82px;
  height: 82px;
  left: 45%;
  animation-delay: 8s;
}

#squares-background .square:nth-child(4) {
  width: 70px;
  height: 70px;
  left: 55%;
  animation-delay: 2s;
}

#squares-background .square:nth-child(5) {
  width: 60px;
  height: 60px;
  left: 27%;
  animation-delay: 6s;
}

#squares-background .square:nth-child(6) {
  width: 55px;
  height: 55px;
  left: 60%;
  animation-delay: 4s;
}

#squares-background .square:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 85%;
  animation-delay: 9s;
}

#squares-background .square:nth-child(8) {
  width: 70px;
  height: 70px;
  left: 75%;
  animation-delay: 4s;
}

#squares-background .square:nth-child(9) {
  width: 45px;
  height: 45px;
  left: 10%;
  animation-delay: 7s;
}

#squares-background .square:nth-child(10) {
  width: 55px;
  height: 55px;
  left: 60%;
  animation-delay: 7s;
}

@keyframes squares-background-boxes {
  0% {
    bottom: -100px;
  }

  100% {
    bottom: 100%;
    transform: rotate(180deg);
    opacity: 0;
  }
}

/* growing lines loading with CSS animation */

#growing-lines-loader {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#growing-lines-loader span {
  width: 10px;
  height: 60px;
  margin: 0px 1px;
  background-color: white;
  animation: growing-lines 0.8s ease-in-out infinite;
}

#growing-lines-loader span:nth-child(1) {
  background-color: #2eeca8;
  animation-delay: 0.2s;
}

#growing-lines-loader span:nth-child(2) {
  background: #eade3d;
  animation-delay: 0.3s;
}
#growing-lines-loader span:nth-child(3) {
  background: #55acee;
  animation-delay: 0.4s;
}
#growing-lines-loader span:nth-child(4) {
  background: #ec902e;
  animation-delay: 0.5s;
}
#growing-lines-loader span:nth-child(5) {
  background: #09b7bf;
  animation-delay: 0.6s;
}
#growing-lines-loader span:nth-child(6) {
  background: #ea3d8c;
  animation-delay: 0.7s;
}

@keyframes growing-lines {
  0% {
    transform: scaleY(0.1);
  }

  35% {
    transform: scaleY(1);
  }

  60%,
  100% {
    transform: scaleY(0.1);
  }
}

/* nice loading effect with CSS animation */

#nice-loader {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#nice-loader span {
  width: 30px;
  height: 30px;
  position: relative;
}

#nice-loader span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: niceLoader 1s linear infinite;
}

@keyframes niceLoader {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
  }
}

#nice-loader .s4:before,
.s5:before,
.s6:before {
  animation-delay: 0.1s;
}

#nice-loader .s7:before,
.s8:before,
.s9:before {
  animation-delay: 0.2s;
}

/* nice loading effect with CSS animation */

#nice-loader-2 {
  width: 200px;
  height: 200px;
  position: relative;
}

#nice-loader-2 .outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 5px solid #eb4d4b;
  border-right: 5px solid #eb4d4b;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

#nice-loader-2 .middle {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border-left: 5px solid #218c74;
  border-right: 5px solid #218c74;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: niceLoader2 1s linear infinite reverse;
}

#nice-loader-2 .inner {
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  border-left: 5px solid #ccae62;
  border-right: 5px solid #ccae62;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

#nice-loader-2 .dot {
  position: absolute;
  top: 90px;
  left: 90px;
  right: 90px;
  bottom: 90px;
  background-color: white;
  border-radius: 50%;
}

@keyframes niceLoader2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* nice loading effect with CSS animation */

#nice-loader-3 {
  display: flex;
}

#nice-loader-3 .obj {
  width: 6px;
  height: 40px;
  background-color: white;
  margin: 0 3px;
  border-radius: 10px;
  animation: niceLoader3 0.8s linear infinite;
  transform-origin: bottom;
}

@keyframes niceLoader3 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

#nice-loader-3 .obj:nth-child(2) {
  animation-delay: 0.1s;
}

#nice-loader-3 .obj:nth-child(3) {
  animation-delay: 0.2s;
}

#nice-loader-3 .obj:nth-child(4) {
  animation-delay: 0.3s;
}

#nice-loader-3 .obj:nth-child(5) {
  animation-delay: 0.4s;
}

#nice-loader-3 .obj:nth-child(6) {
  animation-delay: 0.5s;
}

#nice-loader-3 .obj:nth-child(7) {
  animation-delay: 0.6s;
}

#nice-loader-3 .obj:nth-child(8) {
  animation-delay: 0.7s;
}

/* line loading effect with CSS animation */

#line-loading {
  width: 300px;
  height: 3px;
  background-color: white;
  animation: lineLoading 2s infinite alternate;
}

@keyframes lineLoading {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  45% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

/* ring loading effect with CSS animation */

#ring-loading {
  position: relative;
  width: 200px;
  height: 200px;
}

#ring-loading .ring {
  width: 100%;
  height: 100%;
  border-left: 4px solid #262626;
  border-radius: 50%;
  animation: ringLoading 1s linear infinite;
}

#ring-loading .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

@keyframes ringLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* pre loading effect with CSS animation */

#pre-loading {
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  position: relative;
}

#pre-loading:before {
  content: "loading..";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #f6b93b;
  overflow: hidden;
  border-right: 4px solid #f6b93b;
  animation: preLoading 5s linear infinite;
}

@keyframes preLoading {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

/* nice loading effect with CSS animation */

#nice-loader-4 {
  width: 150px;
  height: 150px;
  position: relative;
}

#nice-loader-4 span {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 4px;
  animation: niceLoader4 2s linear infinite;
}

#nice-loader-4 span:nth-child(2) {
  animation-delay: 0.7s;
}

#nice-loader-4 span:nth-child(3) {
  animation-delay: 01.4s;
}

@keyframes niceLoader4 {
  0% {
    top: 0;
    left: 0;
  }

  12.5% {
    top: 0;
    left: 50%;
  }

  25% {
    top: 0;
    left: 50%;
  }

  37.5% {
    top: 50%;
    left: 50%;
  }

  50% {
    top: 50%;
    left: 50%;
  }

  62.5% {
    top: 50%;
    left: 0;
  }

  75% {
    top: 50%;
    left: 0;
  }

  87.5% {
    top: 0;
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}
